html,
body,
div {
    margin: 0;
    padding: 0;
}

.app {
    text-align: center;
}

.MainElement {
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
    background: linear-gradient(90deg, rgb(53, 53, 53) 0%, rgb(13, 13, 13) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: white;
    margin: 0vw;
    grid-template-columns: repeat(5, auto);
    border-top: none;
    text-decoration: none;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    float: right;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #767676b1;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.about-me-header {
    font-size: 1.1cm;
}

.pfp {
    padding-top: 0.5cm;
    margin-left: 1cm;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
}

/* .resume {
    height: 750px;
    width: 400px;
    object-fit: cover;
} */

.About-Header {
    font-size: xx-large;
}

.Resume-Blurb {
    font-size: 30px;
    float: right;
    padding-right: 125px;
}

.video-description {
    float: left;
    margin-top: 0.2cm;
    margin-right: 8.5cm;
}

.career-list-header {
    /* max-width: 12cm; */
    font-size: large;
}

.home-TS {
    width: 26cm;
    height: 7.5cm;
    display: flex;
}

.home-TScode{
    width: 26cm;
    height: 15cm;
}

.home-sample{

}

.home-term{
    width: 20cm;
    height: 15cm;
}

.home-reactphoto{
    width: 26cm;
    height: 15cm;
}
.certs{
    max-width: 15cm;
    font-size: x-large;
    padding-right: 8cm;
}

.resume-header{
    padding-left: 11cm;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}