html, body, div {
    margin: 0;
    padding: 0;
}

.app {
    text-align: center;
}

nav{
    background: linear-gradient(90deg, rgb(110, 94, 254) 0% , rgb(67, 201, 156) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: white; 
    margin: 0vw;
    grid-gap: 10px;
    grid-template-columns: repeat(5, auto);
    border-top: none;

}
.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    float: right;
    text-decoration: none;
}
.nav-links:hover{
    background-color: #7ecc6ab1;
    border-radius: 4rem;
    transition: all 0.3s ease-in-out;
}
